
Saved/Autosaves/Game/KickmanAssets/AI/BT_Kickman_Auto1.uasset
Saved/Autosaves/Game/KickmanAssets/AI/BTT_Kick_Auto2.uasset
Saved/Autosaves/Game/KickmanAssets/AI/BTT_Kick_Auto3.uasset
Saved/Autosaves/Game/KickmanAssets/AI/Find_Ledge_Auto1.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto4.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto5.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto6.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto7.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto8.uasset
Saved/Autosaves/Game/KickmanMap_Auto4.umap
Saved/Autosaves/Game/KickmanMap_Auto5.umap
Saved/Autosaves/Game/KickmanMap_Auto6.umap
Saved/Autosaves/Game/KickmanMap_Auto7.umap
Saved/Autosaves/Game/KickmanMap_Auto8.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-123EE07649C7D81F463C0F8F07180B7F/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/Kickman-backup-2022.07.30-20.38.17.log
Saved/Logs/Kickman-backup-2022.08.05-10.04.01.log
Saved/Logs/Kickman.log
Saved/Autosaves/Game/KickmanAssets/AI/BTT_Kick_Auto2.uasset
Saved/Autosaves/Game/KickmanAssets/AI/BTT_Kick_Auto3.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto4.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto5.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto6.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto7.uasset
Saved/Autosaves/Game/KickmanAssets/Kickboxing_animation/Robot_CharacterBP_Auto8.uasset
Saved/Autosaves/Game/KickmanMap_Auto4.umap
Saved/Autosaves/Game/KickmanMap_Auto5.umap
Saved/Autosaves/Game/KickmanMap_Auto6.umap
Saved/Autosaves/Game/KickmanMap_Auto7.umap
Saved/Autosaves/Game/KickmanMap_Auto8.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/Kickman-backup-2022.07.30-20.38.17.log
Saved/Logs/Kickman.log
